<%-include('../partials/header')%>
<div class="container">
    <!-- <%=image%> -->
    <%image.reverse().forEach(function(i){%>
    <div class="posts">
        <p><%=i.user%></p>
        <img style="height: 55%; width:100%;" src="<%=i.url %>">

        <form action="/likes/<%= i._id %>" method="POST">
            <button type="submit"><img style="width: 20px; height: 20px; margin: 3px 5px;" src="/images/likeBtn.jpeg"></button>
            <button><img style="width: 20px; height: 25px; margin: 0 5px;" src="/images/commentBtn.jpeg"></button>
        </form>
        <p><%= i.likeNo.length %> likes</p>
        
        <p><strong style="font-weight: 900;"><%=i.user%>: </strong><%= i.caption %></p>
    </div>
    <%});%>

</div>

<%-include('../partials/footer')%>