<%-include('../partials/header')%>
<div class="container">
    <%image.reverse().forEach(function(i){%>
    <div class="posts">
        <div class="pstinside">
            <p>
                <img class="profileimg" src="<%= i.avatar %>">
                <%=i.user%>
                <!-- <%= i.avatar %> -->
            </p>
            <img class="postimage" src="<%=i.url %>">
            <form action="/likes/<%= i._id %>" method="POST">
                <button class="likebtn btn btn-outline-danger btn-sm" type="submit">&#10084;</button>
                <span><%= i.likes.length %> likes</span>
            </form>
            <p><strong><%= i.user %>: </strong><%= i.caption %></p>
            <% i.comments.forEach(function(c){%>
            <span class="comment">
                <span class="cm"><strong><%= c.user %>:</strong> <%= c.comment %></span>
                <span>
                        <form action="/likes/<%= i._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete">
                        </form>
                </span>
            </span>
            <% });%>
            <form action="/likes/comments/<%= i._id %>" method="POST">
                <div class="input-group">
                    <input name="comment" class="form-control" placeholder="comment..." aria-label="With textarea">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="submit">&#10000;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <% }); %>
</div>
<%-include('../partials/footer')%>