<%-include('../partials/header')%>
<div class="container">
    <!-- <%=image%> -->
    <%image.reverse().forEach(function(i){%>
        <div class="posts">
                <p><%=i.user%></p>
                <img style="height: 55%; width:100%;"  src="<%=i.url %>">
                <p><strong><%=i.user%>: </strong><%= i.caption %></p>
        </div>
    <%});%>

</div>

<%-include('../partials/footer')%>
        
    
 