<%-include('../partials/header')%>
<div class="container">
    <p>
        <img style="width: 60px; height: 60px; margin: -7px 10px;" src="./images/noprofile.png">
        <%= u.userName %>
    </p>
    <hr>

    <%u.photos.forEach(function(p){%>
    <div class="posts">
        <div style="padding: 20px 10px;">
        <p style=" color: white;">
            <img style="width: 40px; height: 40px; margin: -7px 10px;" src="./images/noprofile.png">
            <%=u.userName%>
        </p>
        <img class="postimage" src="<%=p.url%>">
        <form action="/profile/<%= p._id %>" method="POST">
            <button type="submit" style="border-radius: 50%; margin: 10px;">&#10084;</button>
            <span><%= p.likes.length %> likes</span>
        </form>
        <p><strong><%=u.userName%>: </strong><%=p.caption%></p>
        <% p.comments.forEach(function(c){%>
        <span class="comment">
            <span style="margin-left: 5px;"><strong><%= c.user %>:</strong> <%= c.comment %></span>
            <span class="dropdown">
                <button onclick="myFunction()" class="dropbtn">&#9776;</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">edit comment</a>
                    <a href="#about">delete comment</a>
                </div>
            </span>
        </span>
        <% });%>


        <form action="/profile/comments/<%= p._id %>" method="POST">
            <div class="input-group">
                <input name="comment" class="form-control" placeholder="comment..." aria-label="With textarea">
                <div class="input-group-prepend">
                    <button type="submit">&#10004;</button>
                </div>
            </div>
        </form>

    </div>
    </div>
    <%})%>

</div>



<%-include('../partials/footer')%>