<%-include('../partials/header')%>
<div class="container">
    <p class="profile">
        <img class="profilepic" src="./images/noprofile.png">
        <%= u.userName %><br>
        <%= u.email %>
    </p>
    <hr>

    <%u.photos.forEach(function(p){%>
    <div class="posts">
        <div class="pstinside">
        <p>
            <img class="profileimg" src="./images/noprofile.png">
            <%=u.userName%>
        </p>
        <img class="postimage" src="<%=p.url%>">
        <form action="/profile/<%= p._id %>" method="POST">
            <button type="submit" class="likebtn">&#10084;</button>
            <span><%= p.likes.length %> likes</span>
        </form>
        <p><strong><%=u.userName%>: </strong><%=p.caption%></p>
        <% p.comments.forEach(function(c){%>

        <span class="comment">
                <span><strong><%= c.user %>:</strong> <%= c.comment %></span>
                <span>
                        <form action="/profile/<%= p._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-outline-secondary btn-sm" value="Delete">
                        </form>
                </span>
            </span>
        <% });%>


        <form action="/profile/comments/<%= p._id %>" method="POST">
            <div class="input-group">
                <input name="comment" class="form-control" placeholder="comment..." aria-label="With textarea">
                <div class="input-group-prepend">
                    <button type="submit">&#10004;</button>
                </div>
            </div>
        </form>

    </div>
    </div>
    <%})%>

</div>



<%-include('../partials/footer')%>